<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-signup</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div class="container">
        <form id="loginForm">
            <h2>Login</h2>
            <input type="email" id="email" placeholder="Email"><br>

            <input type="password" id="password" placeholder="Password"><br>

            <button type="submit">Login</button><br>

            <span>New to this website? <a href="/signup.html">Signup</a></span>

            <div id="error-message" style="color: red; margin-top: 10px;"></div>
        </form>
    </div>

    <script src="/js/login.js"></script>
</body>
</html>