<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-signup</title>
    <link rel="stylesheet" href="/public/css/signup.css">
</head>
<body>
    <div>
        <form action="">
            <h2>Sign-up</h2>
            <input type="text" placeholder="Name" required><br>

            <input type="email" placeholder="Email"><br>

            <input type="number" placeholder="Mobile Number"><br>

            <input type="password" placeholder="Password"><br>

            <button>Sign Up</button><br>

            <span>Already have an account? <a href="/login">Login</a></span>
        </form>
    </div>
</body>
</html>